<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>

  <body>
    <h1>Your account on RottenMangoes has been deleted.</h1>
    <p>Hello <%=@user.firstname%>, your account has been deleted on RottenMangoes. Goodbye.</p>
  </body>

</html> 
